@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900 text-white;
}

/* Estilos para el contenedor principal */
.main-layout {
  @apply min-h-[calc(100vh-4rem)] w-full;
  /* Asegura que el contenido principal tenga al menos la altura de la ventana menos la altura del navbar */
}

/* Personalización de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-red-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-700;
}

/* Animaciones globales */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}